bin/**
*.o
*.csv
!example.csv

output.log
debug.log

tests/**

#tests folder exceptions
!tests/algoticks_tests.c
!tests/CMakeLists.txt
!stream_to_csv.py
!stream_to_socket.py
!tests/AAPL.csv

build/**
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps